{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign in{% endblock title %}

{% block content %}
	<form action="{% url 'signin' %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<input type="Submit" value="Create">
	</form>
	<br>
	<h1><a href="/accounts/github/login/"><button type="button" class="btn btn-outline-dark btn-lg btn-block"><i class="fab fa-github-square fa-lg"> Sign In with GitHub</i></button></a></h1>
	<h1><a href="/accounts/twitter/login/"><button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fab fa-twitter-square fa-lg"> Sign In with Twitter</i></button></a></h1>
	<h1><a href="/accounts/google/login/"><button type="button" class="btn btn-outline-danger btn-lg btn-block"><i class="fab fa-google fa-lg"> Sign In with Google</i></button></a></h1>

{% endblock content %}